In [1]:
a=['1']

In [2]:
type(a)

list

In [3]:
b=a

In [4]:
b

['1']

In [5]:
type(b)

list

In [6]:
b=b+'2'

TypeError: can only concatenate list (not "str") to list

In [7]:
b+='2'

In [8]:
b

['1', '2']

In [9]:
print(a)

['1', '2']

In [10]:
b=b+'2'

TypeError: can only concatenate list (not "str") to list

In [11]:
b=b+2

TypeError: can only concatenate list (not "int") to list

In [13]:
b+='2'

In [14]:
b

['1', '2', '2']

In [15]:
b=b+'2'

TypeError: can only concatenate list (not "str") to list

In [17]:
b+='2'

In [18]:
b=b+'2'

TypeError: can only concatenate list (not "str") to list

In [19]:
b+='2222'

In [20]:
b

['1', '2', '2', '2', '2', '2', '2', '2']

In [21]:
b=b+'2'

TypeError: can only concatenate list (not "str") to list

In [22]:
t=(1,2,3,4)

In [23]:
type(t)

tuple

In [24]:
t=t+'123'

TypeError: can only concatenate tuple (not "str") to tuple

In [25]:
t+='1234'

TypeError: can only concatenate tuple (not "str") to tuple

In [26]:
l=['1','2']

In [27]:
l+='1234'

In [28]:
l

['1', '2', '1', '2', '3', '4']

In [29]:
s='hello world'

In [30]:
s+=['2']

TypeError: can only concatenate str (not "list") to str

In [31]:
s=s+['2']

TypeError: can only concatenate str (not "list") to str

In [32]:
#List

In [33]:
s

'hello world'

In [34]:
s.count('l')

3

In [35]:
s.count('l',4)

1

In [37]:
help(s.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [38]:
d=['1','2']

In [39]:
d+='12345'

In [40]:
d

['1', '2', '1', '2', '3', '4', '5']

In [41]:
d.extend('1234')

In [42]:
d

['1', '2', '1', '2', '3', '4', '5', '1', '2', '3', '4']

In [43]:
for i in range(len('python')):
    print(f"{'python'[i+1]}")

y
t
h
o
n

IndexError: string index out of range

In [47]:
for i in range(len('python')):
    print('python'[i+1])

y
t
h
o
n

IndexError: string index out of range

In [48]:
#Iteration---->For Loop

In [49]:
for i in 124:
    print(i)

TypeError: 'int' object is not iterable

In [50]:
s={1,2,3,[1,2,43],(1,2,3)}
for i in range(len(s)):
    print(s[i+1])

TypeError: unhashable type: 'list'

In [51]:
s={1,2,3,(1,2,43),(1,2,3)}
for i in range(len(s)):
    print(s[i+1])

TypeError: 'set' object is not subscriptable

In [52]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(1,11):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10

In [62]:
for i in range(1,11):
    print(*range(i,i*10+1,i),sep='\t',end='\n')

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [63]:
l=[1,2,3,4,5,6,]

In [64]:
for i in l:
    print(i)

1
2
3
4
5
6

In [66]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
5
6

In [68]:
d={1001:{'Name':'Sachin','Bal':10000,'Pwd':'redhat'},
   1002:{'Name':"Samyak",'Bal':20000,'Pwd':'1234'}}

In [71]:
for i in d:
    print(i)

1001
1002

In [72]:
for i in d.values():
    print(i)

{'Name': 'Sachin', 'Bal': 10000, 'Pwd': 'redhat'}
{'Name': 'Samyak', 'Bal': 20000, 'Pwd': '1234'}

In [73]:
for i in d:
    for j in d[i]:
        print(d[i][j],end='\t')
    print()

Sachin	10000	redhat
Samyak	20000	1234

In [76]:
import random

l=list()

for i in range(5):
    l1=list()
    for j in range(5):
        l1.append(random.randint(1,99))
    l.append(l1)

In [77]:
l

[[98, 31, 5, 46, 86],
 [28, 77, 56, 62, 21],
 [40, 73, 38, 33, 6],
 [36, 50, 76, 58, 18],
 [15, 80, 32, 52, 12]]

In [78]:
x=int(input('Enter a number'))

if x%5==0 and x%7==0:
    print('Divisible by 5 and 7')
else:
    print('Not Divisible')

Enter a number34
Not Divisible

In [79]:
for i in range(1,101):
    if i%5==0 and i%7==0:
        print(i)

35
70

In [81]:
for i in range(1,101):
    if i%5==0 or i%7==0:
        print(i,end='\t')

5	7	10	14	15	20	21	25	28	30	35	40	42	45	49	50	55	56	60	63	65	70	75	77	80	84	85	90	91	95	98	100

In [82]:
#Factorial Number----->5---->5*4*3*2*1

In [85]:
for i in range(5):
    num=int(input('Enter a number'))
    sum1=1
    for j in range(num,1,-1):
        sum1=sum1*j
    print(sum1)

Enter a number5
120
Enter a number6
720
Enter a number7
5040
Enter a number8
40320
Enter a number9
362880

In [86]:
for i,j in zip([1,2,3,4,],[1,2,3,4]):
    print(i,j)

1 1
2 2
3 3
4 4

In [87]:
for i in range(10):
    for j in range(10):
        print('*',end='')
    print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [90]:
for j in range(5):
    num=int(input('Enter a number'))
    for i in range(2,num//2+1):
        if num%i==0:
            print(i,end='\t')

Enter a number45
3	5	9	15	Enter a number60
2	3	4	5	6	10	12	15	20	30	Enter a number56
2	4	7	8	14	28	Enter a number23
Enter a number90
2	3	5	6	9	10	15	18	30	45

In [91]:
#Find GCD of Two Numbers

In [93]:
#15,45---->Greatest Common Divisor

In [96]:
for i in range(5):
    x,y=int(input('Enter a number')),int(input('Enter a number'))
    l=list()
    if x<y:
        for i in range(2,x+1):
            if x%i==0 and y%i==0:
                l.append(i)
    else:
        for i in range(2,y+1):
            if x%i==0 and y%i==0:
                l.append(i)

    if len(l)>0:
        print(l[-1])
    else:
        print('No common Factor')

Enter a number45
Enter a number60
15
Enter a number23
Enter a number90
No common Factor
Enter a number56
Enter a number34
2
Enter a number24
Enter a number80
8
Enter a number56
Enter a number78
2

In [97]:
#Pallindrome----String Pallindrome---->Reverse

In [99]:
x=input('Enter a string')

if x[::-1]==x:
    print('String is Pallindrome')
    
else:
    print('string is not Pallindrome')

Enter a stringhello world
string is not Pallindrome

In [102]:
x=input('Enter a number')

if x[::-1]==x:
    print('Number is Pallindrome')
    
else:
    print('Number is not Pallindrome')

Enter a number12321
Number is Pallindrome

In [103]:
#x=1234

In [104]:
x=1234

In [105]:
x%10

4

In [106]:
x=x//10

In [107]:
x

123

In [108]:
x%10

3

In [109]:
x=x//10

In [110]:
x

12

In [111]:
x%10

2

In [112]:
x=x//10

In [113]:
x

1

In [114]:
1%10

1