In [2]:
#

upto=int(input('Enter a number'))
sum1=0
for i in range(1,upto+1):
    print(i)
    sum1+=i
print(f"sum of this series is {sum1}")

Enter a number10
1
2
3
4
5
6
7
8
9
10
sum of this series is 55

In [2]:
#iterator
#generator

In [3]:
s='hello world'

In [4]:
s[0:4:1]

'hell'

In [5]:
s[slice(0,4,1)]

'hell'

In [6]:
import random

In [8]:
random.randint(1,100)

49

In [20]:
l=[random.choice('abcdef0123456789') for i in range(6)]

In [21]:
l

['6', 'c', '7', '9', '5', 'e']

In [23]:
'#'+''.join(l)

'#6c795e'

<h1>Hello World</h1>

In [24]:
#Data Science--->255*255*255

In [6]:
import random
x=random.seed(1234)
print(x)

None

In [7]:
x="print('hello world')"

In [8]:
x

"print('hello world')"

In [27]:
exec(x)

hello world

In [28]:
#Lambda--->Anonyms Function---->Expression

In [29]:
#fun_name = lambda args : return sequence

In [30]:
def sq(x):
    return x**2

In [31]:
sq(4)

16

In [32]:
sq(9)

81

In [33]:
sq1 = lambda x : x**2

In [34]:
sq1(4)

16

In [36]:
sq1(9)

81

In [37]:
def greater(x,y):
    if x>y:
        return x
    else:
        return y

In [39]:
greater(56,89)

89

In [40]:
max1 = lambda x,y : x if x>y else y

In [41]:
max1(45,78)

78

In [42]:
max1(45,32)

45

In [43]:
def max3(x,y,z):
    if x>y and x>z:
        return x
    elif y>z:
        return y
    else:
        return z

In [44]:
max3(45,67,98)

98

In [45]:
#elif---->else return if condn
max33=lambda x,y,z : x if x>y and x>z else y if y>z else z

In [46]:
max33(34,56,78)

78

In [47]:
max33(45,43,23)

45

In [48]:
max33(78,98,34)

98

In [1]:
l=[input().split() for i in range(3)]

prince 20 m
simran 30 f
samyak 32 m

In [51]:
l[-1].append('F')

In [2]:
l

[['prince', '20', 'm'], ['simran', '30', 'f'], ['samyak', '32', 'm']]

In [54]:
def arrange(l):
    return l[1]

In [55]:
sorted(l,key=arrange)

[['Samyak', '23', 'M'], ['Nidhi', '24', 'F'], ['Rajat', '26', 'M']]

In [56]:
sorted(l,key=lambda x: x[1])

[['Samyak', '23', 'M'], ['Nidhi', '24', 'F'], ['Rajat', '26', 'M']]

In [57]:
l.sort(key=lambda x : x[1])

In [58]:
l

[['Samyak', '23', 'M'], ['Nidhi', '24', 'F'], ['Rajat', '26', 'M']]

In [61]:
d={'Name':'Anshul','Course':'DS'}

In [63]:
sorted(d.values())

['Anshul', 'DS']

In [64]:
d

{'Name': 'Anshul', 'Course': 'DS'}

In [65]:
for i in sorted(d.values()):
    print(i)

Anshul
DS

In [68]:
d['Name']='samyak'

In [69]:
d.items()

dict_items([('Name', 'samyak'), ('Course', 'DS')])

In [71]:
l=sorted(d.items(),key=lambda x: x[1])

In [77]:
d={}
for key,value in l:
    print(f"{key}---->{value}")
    d[key]=value

Course---->DS
Name---->samyak

In [78]:
d

{'Course': 'DS', 'Name': 'samyak'}

In [3]:
def prime(num,start=2):
    if start==int(num**0.5)+1:
        return False
    elif num%start==0:
        return True
    else:
        return prime(num,start+1)

In [4]:
prime(5)

False

In [5]:
prime(100)

True

In [87]:
prime_check = lambda num,start=2 : False if start==num//2+1 else True if num%start==0 else prime(num,start+1)

In [88]:
prime_check(121)

True

In [89]:
prime_check(127)

False

In [90]:
#Map---->Mapping a function on a sequence

In [6]:
x,y=input().split()

6 7

In [7]:
type(x)

str

In [94]:
y

'6'

In [96]:
x,y=int(input().split())

4 5

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [97]:
int('2345')

2345

In [98]:
int(['1','2','3'])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [99]:
#map(fun_name,sequence)

In [100]:
x,y,z=map(int,input().split())

1 2 3

In [101]:
x

1

In [102]:
y

2

In [103]:
z

3

In [104]:
type(x)

int

In [106]:
type(y)

int

In [107]:
type(z)

int

In [109]:
x,y,z=map(int,'123')

In [110]:
x

1

In [111]:
y

2

In [112]:
z

3

In [113]:
map(int,123)

TypeError: 'int' object is not iterable

In [114]:
# map is a generator object.(lazy Evaluator)

In [9]:
def sq(num):
    return num**2

In [10]:
x=[map(sq,[1,2,3,4,5])]

In [11]:
x

In [122]:
for i in x:
    print(i)

1
4
9
16
25

In [123]:
x

In [124]:
x=list(map(sq,[1,2,3,4]))

In [125]:
x

[1, 4, 9, 16]

In [126]:
#int---->data type.
#int---->function
#int---->class

In [127]:
#map(function,sequence)

In [128]:
def even_odd(num):
    if num%2==0:
        return 'Even'
    else:
        return 'Odd'

In [129]:
x=list(map(even_odd,[i for i in range(1,11)]))

In [130]:
x

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [131]:
l

[('Course', 'DS'), ('Name', 'samyak')]

In [132]:
l=[input().split() for i in range(3)]

samyak jain 22 M
Rajat Goyal 26 M
Nidhi Sharma 24 F

In [133]:
l

[['samyak', 'jain', '22', 'M'],
 ['Rajat', 'Goyal', '26', 'M'],
 ['Nidhi', 'Sharma', '24', 'F']]

In [134]:
#Ascending Order sort----->Mr/mrs. First Name last Name

In [135]:
def decide(l):
    if l[3]=='M':
        return 'Mr.' +" "+l[0]+" "+l[1]
    else:
        return 'Ms.' +" "+l[0]+" "+l[1]

In [136]:
x=list(map(decide,l))

In [137]:
x

['Mr. samyak jain', 'Mr. Rajat Goyal', 'Ms. Nidhi Sharma']

In [139]:
x=list(map(lambda x: f'Mr. {x[0]} {x[1]}' if x[3]=='M' else f'Ms. {x[0]} {x[1]}',l))

In [141]:
print(*x,sep='\n')

Mr. samyak jain
Mr. Rajat Goyal
Ms. Nidhi Sharma

In [142]:
l

[['samyak', 'jain', '22', 'M'],
 ['Rajat', 'Goyal', '26', 'M'],
 ['Nidhi', 'Sharma', '24', 'F']]

In [143]:
x=list(map(lambda x: f'Mr. {x[0]} {x[1]}' if x[3]=='M' else f'Ms. {x[0]} {x[1]}',sorted(l,key=lambda x: x[2],reverse=True)))

In [145]:
print(*x,sep='\n')

Mr. Rajat Goyal
Ms. Nidhi Sharma
Mr. samyak jain

In [146]:
l1=sorted(l,key=lambda x: x[2],reverse=True)

In [147]:
l1

[['Rajat', 'Goyal', '26', 'M'],
 ['Nidhi', 'Sharma', '24', 'F'],
 ['samyak', 'jain', '22', 'M']]

In [158]:
def even(num):
    if num%2==0:
        return True

In [159]:
x=list(map(even, [i for i in range(1,11)]))

In [160]:
x

[None, True, None, True, None, True, None, True, None, True]

In [156]:
x=list(filter(even,[i for i in range(1,11)]))

In [157]:
x

[2, 4, 6, 8, 10]

In [162]:
prime_check(121)

True

In [163]:
x=list(filter(prime_check,[i for i in range(100,200)]))

In [166]:
print(*x,sep='\t')

100	102	104	105	106	108	110	111	112	114	115	116	117	118	119	120	121	122	123	124	125	126	128	129	130	132	133	134	135	136	138	140	141	142	143	144	145	146	147	148	150	152	153	154	155	156	158	159	160	161	162	164	165	166	168	169	170	171	172	174	175	176	177	178	180	182	183	184	185	186	187	188	189	190	192	194	195	196	198

In [167]:
def prime(num):
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            break
    else:
        return True

In [169]:
x=list(filter(prime,[i for i in range(100,200)]))

In [170]:
print(*x,sep='\t')

101	103	107	109	113	127	131	137	139	149	151	157	163	167	173	179	181	191	193	197	199

In [176]:
def pallindrome(num):
    r=0
    temp=num
    while num!=0:
        m=num%10
        r=r*10+m
        num=num//10
    if r==temp:
        return True
    else:
        return False

In [179]:
pallindrome(124321)

False

In [182]:
x=list(filter(pallindrome,[i for i in range(100,200)]))

In [18]:
p=filter(None,[True,True,False])
print(*p)

True True

In [184]:
x

[101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

In [181]:
print(*x,sep='\t')

101	111	121	131	141	151	161	171	181	191

In [188]:
def fact(num):
    sum1=1
    for i in range(num,1,-1):
        sum1*=i
    return sum1

In [191]:
x=list(map(fact,[i for i in range(1,10)]))

In [192]:
x

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [193]:
import time

In [196]:
def sq(x,y):
    return x**2+y**2

In [198]:
x=list(map(sq,[1,2,3,4],[1,2,3,4]))

In [199]:
x

[2, 8, 18, 32]

In [201]:
c=time.monotonic()

In [202]:
c1=time.monotonic()

In [203]:
c1-c

9.890999999974156