In [1]:
#Introduction/Number Data Type--->

#String Data Type---->1.Iterable Data TYpe
                      2.Subscrptable Data Type
                      3.Immutable Data Type
                      4.Ordered Data TYpe

In [2]:
#Iterable---->If we can access each element from a given sequence

In [3]:
s='hello world'

In [4]:
#*----->iteration symbol

In [5]:
print(s)

hello world

In [6]:
print(*s)

h e l l o   w o r l d

In [7]:
#number is not iterables

In [8]:
x=12345

In [9]:
print(*x)

TypeError: print() argument after * must be an iterable, not int

In [10]:
#2.Subscriptable--->If we can access element from its index value.

In [11]:
s='hello world'

In [18]:
s[0]#Slicing/Indexing----->Forward Indexing

'h'

In [16]:
s[1]

'e'

In [17]:
s[2]

'l'

In [21]:
s[-1]#backward Indexing

'd'

In [22]:
s[-2]

'l'

In [23]:
x=12345

In [24]:
x[0]

TypeError: 'int' object is not subscriptable

In [33]:
#3.Immutable Data Type---->We can't change the data on same location.if we try to change the data then location will also be changed

In [31]:
s='hello world'+'python'

In [32]:
id(s)

2494486809456

In [28]:
s='Hello World to python'

In [29]:
id(s)

2494486789840

In [30]:
id(s[0])

2494436967512

In [34]:
s

'hello worldpython'

In [35]:
s='HEllo World'

In [36]:
s.lower()

'hello world'

In [37]:
s.upper()

'HELLO WORLD'

In [38]:
s

'HEllo World'

In [39]:
id(s)

2494486826928

In [40]:
s.title()

'Hello World'

In [41]:
s.capitalize()

'Hello world'

In [42]:
s

'HEllo World'

In [43]:
s=s.lower()

In [44]:
s

'hello world'

In [45]:
id(s)

2494490385456

In [46]:
#4.Ordered---->s[0]

In [47]:
s[0]

'h'

In [48]:
s[1]

'e'

In [49]:
s[1]

'e'

In [52]:
s[0]='S'

TypeError: 'str' object does not support item assignment

In [53]:
#Immutable---->s[0]---->We can't chage the data.

In [54]:
x=5

In [55]:
id(x)

140734891332544

In [56]:
x=6

In [57]:
id(x)

140734891332576

In [58]:
#How to work Print Function

In [59]:
x=10
y=20
z=30

In [60]:
print(x)

10

In [61]:
print(y)

20

In [63]:
print(z)

30

In [64]:
print('Hello Wolrd')

Hello Wolrd

In [81]:
print('You got marks: ',x,'hello: ',y)

You got marks:  10 hello:  20

In [66]:
print('You got marks: ',y)

You got marks:  20

In [67]:
print('You got marks: ',z)

You got marks:  30

In [82]:
print('You got',x,'marks from',y)

You got 10 marks from 20

In [68]:
print('You got 10 marks from 20')

You got 10 marks from 20

In [69]:
print('You got x marks from y')

You got x marks from y

In [70]:
print(f'You got x marks from y')

You got x marks from y

In [72]:
print('You got {x} marks from {y}')#formating

You got {x} marks from {y}

In [73]:
print(f'You got {x} marks from {y}')#formating

You got 10 marks from 20

In [74]:
print('You got {} marks from {}'.format(x,y))

You got 10 marks from 20

In [75]:
print('You got {} marks from {}'.format(y,x))

You got 20 marks from 10

In [76]:
print('You got {0} marks from {1}'.format(x,y))

You got 10 marks from 20

In [77]:
print('You got {1} marks from {0}'.format(x,y))

You got 20 marks from 10

In [78]:
print('You got %d marks from %d'%(x,y))

You got 10 marks from 20

In [79]:
print('You got %d marks from %d'%(y,x))

You got 20 marks from 10

In [83]:
x

10

In [84]:
y

20

In [85]:
z

30

In [86]:
print(x)
print(y)
print(z)

10
20
30

In [87]:
print(x,y,z)

10 20 30

In [88]:
#sep---->If we want to print more than one value from print statement then gap will be decided by sep.
#end---->If we want to print more than one print statement then gap will be decided by end.

In [1]:
print?

In [90]:
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None

In [92]:
print()#for help of any function you should press shift+tab   and    help(function_name)  and    function_name?

In [93]:
print(x,end='\n')
print(y,end='\n')
print(z,end='\n')

10
20
30

In [94]:
print(x,end='\t')
print(y,end='\t')
print(z,end='\t')

10	20	30

In [95]:
print(x,end=' ')
print(y,end=' ')
print(z,end=' ')

10 20 30

In [96]:
print(x,end='')
print(y,end='')
print(z,end='')

102030

In [97]:
print(x,end=':')
print(y,end=':')
print(z,end=':')

10:20:30:

In [98]:
print(x,y,z,sep=' ')

10 20 30

In [99]:
print(x,y,z,sep='\n')

10
20
30

In [100]:
print(x,y,z,sep=',')

10,20,30

In [101]:
print(x,y,z,sep='\t')

10	20	30

In [102]:
round(145.56)

146

In [103]:
round(12345.1234)

12345

In [104]:
round(12345.34567,2)

12345.35

In [106]:
round(123454.1234,2)

123454.12

In [107]:
#Iteration---->*

In [108]:
s='hello world'

In [110]:
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [111]:
print(i)
#print(*s)

d

In [112]:
for i in s:
    print(i,end='\t')

h	e	l	l	o	 	w	o	r	l	d

In [113]:
print(*s)

h e l l o   w o r l d

In [114]:
print(*s,sep='\t')

h	e	l	l	o	 	w	o	r	l	d

In [115]:
for i in s:
    print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [116]:
#range(start,stop,increment/decrement)

In [117]:
range(1,10,1)

range(1, 10)

In [119]:
print(*range(1,10,1))

1 2 3 4 5 6 7 8 9

In [120]:
print(*range(1,10,1),sep='\t')

1	2	3	4	5	6	7	8	9

In [121]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(-4,-2,1):
    print(i,end=' ')

-4 -3

In [123]:
print(*range(5,15,2))

5 7 9 11 13

In [124]:
print(*range(2,20,2))

2 4 6 8 10 12 14 16 18

In [125]:
print(*range(2,21,2))

2 4 6 8 10 12 14 16 18 20

In [126]:
print(*range(5,50,5))

5 10 15 20 25 30 35 40 45

In [129]:
num=int(input('Enter a number'))
print(*range(num,num*10+1,num))

Enter a number20
20 40 60 80 100 120 140 160 180 200

In [130]:
num=int(input('Enter a number'))
print(*range(num,num*10+1,num))

Enter a number15
15 30 45 60 75 90 105 120 135 150

In [133]:
#range(start,stop,i/d)---->maximum
#range(start,stop)----->2 arguments
#range(stop)----->1 arguments

In [132]:
print(*range(1,11))

1 2 3 4 5 6 7 8 9 10

In [134]:
print(*range(11))

0 1 2 3 4 5 6 7 8 9 10

In [135]:
print(*range(1,100,-1))

In [137]:
print(*range(100,0,-1),sep='\t')

100	99	98	97	96	95	94	93	92	91	90	89	88	87	86	85	84	83	82	81	80	79	78	77	76	75	74	73	72	71	70	69	68	67	66	65	64	63	62	61	60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1

In [138]:
print(*range(31))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

#variable declaration----->1.You can start a var name only from _ and alphabets
                           2.You can't give space between the name of variable

In [139]:
x=1

In [140]:
x_=1

In [141]:
_x=1

In [7]:
_=1

In [8]:
_

1

In [143]:
x1=9

In [144]:
xy=9

In [145]:
print(xy)

9

In [147]:
abcd=1234

In [148]:
print(a)

NameError: name 'a' is not defined

In [149]:
print(abcd)

1234

In [10]:
a,b = 1,8

In [151]:
a1=1

In [152]:
print(a1)

1

In [153]:
1a=1

SyntaxError: invalid syntax (<ipython-input-153-fbf1bec92ff8>, line 1)

In [154]:
_1a=1

In [155]:
print(_1a)

1

In [156]:
x,y=1,2

In [157]:
x

1

In [158]:
y

2

In [159]:
x=1,2,3,4,5

In [160]:
print(x)

(1, 2, 3, 4, 5)

In [161]:
type(x)

tuple

In [162]:
x,y,z,p=1,2,3,4

In [163]:
x

1

In [164]:
y

2

In [165]:
z

3

In [166]:
p

4

In [169]:
x,y=5,6

In [170]:
x

5

In [171]:
y

6

In [172]:
x,y=y,x

In [173]:
x

6

In [174]:
y

5

In [175]:
ab=1

In [176]:
print(ab)

1

In [177]:
AB=1

In [178]:
print(AB)

1

In [26]:
x = round(float(str(23.6657)),3)

In [27]:
x

23.666

In [180]:
str(23.67)

'23.67'

In [13]:
round(int(float(str(23.67))),2)

In [184]:
#Divison---->

In [186]:
45/4#single divison/float divison

11.25

In [187]:
45//4#double divison/integer divison

11

In [188]:
int(45/4)

11

In [189]:
23%3

2

In [190]:
8%4

0

In [191]:
4%8

4

In [193]:
#4//8---->8*0--->0--->(4-0)---->4

In [194]:
-48%7

1

-48%7---->-48//7---->7*-10--->-70
                     7*-9---->-63
                     7*-8---->-56
                     7*-7---->-49----->-48-(-49)

In [195]:
-48-(-49)

1

In [197]:
divmod(34,-3)

(-12, -2)

In [28]:
-46%-6

-4

-45%-6----->-6*1---->-6
            -6*2----->-12
            
            -6*6----->-36
            -6*7----->-42

In [199]:
-45-(-42)

-3

In [200]:
#String---->Slicing