In [1]:
d={'Name':'Sachin','Course':"DS",'Age':24}

In [2]:
for i in d:
    print(i)

Name
Course
Age

In [3]:
for i in d.keys():
    print(i)

Name
Course
Age

In [4]:
for i in d.values():
    print(i)

Sachin
DS
24

In [5]:
for i in d.keys():
    print(d[i])

Sachin
DS
24

In [6]:
for i in d.items():
    print(i)

('Name', 'Sachin')
('Course', 'DS')
('Age', 24)

In [7]:
for key,value in d.items():
    print(f"{key}: {value}")

Name: Sachin
Course: DS
Age: 24

In [9]:
for key,value in zip(d.keys(),d.values()):
    print(f"{key}---->{value}")

Name---->Sachin
Course---->DS
Age---->24

In [10]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [11]:
d['color']

KeyError: 'color'

In [12]:
d['color']='fair'

In [13]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'color': 'fair'}

In [14]:
hash(d)

TypeError: unhashable type: 'dict'

In [15]:
d.pop('color')

'fair'

In [16]:
d.popitem()

('Age', 24)

In [17]:
d.pop('color')

KeyError: 'color'

In [18]:
d.pop('color','red')

'red'

In [19]:
d.pop('Course','DS')

'DS'

In [20]:
d

{'Name': 'Sachin'}

In [21]:
d.pop('Name','Samyak')

'Sachin'

In [22]:
d.pop('Name','Samyak')

'Samyak'

In [23]:
l=[i for i in dir(dict) if i[0].islower()==True]

In [24]:
print(*l)

clear copy fromkeys get items keys pop popitem setdefault update values

In [25]:
d={'Name':'Sachin','Course':'DS'}

In [26]:
d.setdefault('Age',21)

21

In [27]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 21}

In [28]:
d.setdefault('Age',22)

21

In [29]:
d.update(Age=22)

In [30]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 22}

In [31]:
d.update(color="fair")

In [32]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 22, 'color': 'fair'}

In [33]:
d.update({'Name':'Samyak'})

In [34]:
d

{'Name': 'Samyak', 'Course': 'DS', 'Age': 22, 'color': 'fair'}

In [35]:
d.update(Name='Sachin')

In [36]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 22, 'color': 'fair'}

In [37]:
d={}

In [38]:
d.fromkeys('AB')

{'A': None, 'B': None}

In [39]:
d.fromkeys('AB',1)

{'A': 1, 'B': 1}

In [40]:
d.fromkeys('AB','CD')

{'A': 'CD', 'B': 'CD'}

In [42]:
d.fromkeys([1,2,3,4],[3,4])

{1: [3, 4], 2: [3, 4], 3: [3, 4], 4: [3, 4]}

In [44]:
d.fromkeys('AB',1)

{'A': 1, 'B': 1}

In [45]:
d.fromkeys('A')

{'A': None}

In [46]:
#Nested Dictionary

In [47]:
d={1001:'A',1002:'B',1003:'C'}

In [48]:
d[1001]

'A'

In [49]:
d[1002]

'B'

In [50]:
d[1003]

'C'

In [51]:
for i in d:
    print(i)

1001
1002
1003

In [52]:
for i in d:
    print(d[i])

A
B
C

In [53]:
d

{1001: 'A', 1002: 'B', 1003: 'C'}

In [54]:
d[1001]={'Name':'Sachin'}
d[1002]={'Name':'Samyak'}
d[1003]={'Name':'Rajat'}

In [55]:
d

{1001: {'Name': 'Sachin'}, 1002: {'Name': 'Samyak'}, 1003: {'Name': 'Rajat'}}

In [56]:
d[1001]

{'Name': 'Sachin'}

In [57]:
d[1002]

{'Name': 'Samyak'}

In [58]:
d[1003]

{'Name': 'Rajat'}

In [59]:
for i in d:
    print(i)

1001
1002
1003

In [60]:
for i in d:
    print(d[i])

{'Name': 'Sachin'}
{'Name': 'Samyak'}
{'Name': 'Rajat'}

In [62]:
for i in d.values():
    print(i)

{'Name': 'Sachin'}
{'Name': 'Samyak'}
{'Name': 'Rajat'}

In [64]:
for i,j in d.items():
    print(f"{i}--->{j}")

1001--->{'Name': 'Sachin'}
1002--->{'Name': 'Samyak'}
1003--->{'Name': 'Rajat'}

In [65]:
d['Name']

KeyError: 'Name'

In [66]:
1001['Name']

TypeError: 'int' object is not subscriptable

In [67]:
d[1001]['Name']

'Sachin'

In [68]:
d[1002]['Name']

'Samyak'

In [69]:
d[1003]['Name']

'Rajat'

In [71]:
for i in d:
    print(d[i]['Name'])

Sachin
Samyak
Rajat

In [73]:
d[1001]['Bal']=10000
d[1002]['Bal']=20000
d[1003]['Bal']=30000

In [74]:
d

{1001: {'Name': 'Sachin', 'Bal': 10000},
 1002: {'Name': 'Samyak', 'Bal': 20000},
 1003: {'Name': 'Rajat', 'Bal': 30000}}

In [76]:
for i in d:
    print(d[i])

{'Name': 'Sachin', 'Bal': 10000}
{'Name': 'Samyak', 'Bal': 20000}
{'Name': 'Rajat', 'Bal': 30000}

In [78]:
for i in d:
    print(d[i]['Name'],d[i]['Bal'])

Sachin 10000
Samyak 20000
Rajat 30000

In [79]:
for i in d:
    d[i]['Pwd']=input()

redhat@123
redhat
1234

In [80]:
d

{1001: {'Name': 'Sachin', 'Bal': 10000, 'Pwd': 'redhat@123'},
 1002: {'Name': 'Samyak', 'Bal': 20000, 'Pwd': 'redhat'},
 1003: {'Name': 'Rajat', 'Bal': 30000, 'Pwd': '1234'}}

In [81]:
d[1001]['Pwd']

'redhat@123'

In [82]:
d[1002]['Pwd']

'redhat'

In [83]:
d[1003]['Pwd']

'1234'

In [85]:
for i in d:
    for j in d[i]:
        print(d[i][j])

Sachin
10000
redhat@123
Samyak
20000
redhat
Rajat
30000
1234

In [86]:
#1.Bank Application---->5 accounts Name,Bal,Pwd,M.No.
#2.IRCTC -------------->train number:{Name,source,destination,duration,stopage:['']} 5 trains data
#3.Hospital ManageMent----->
#4.Student Management
#5.Super Market

In [87]:
#Stationary--->pen,stationary
#Electronics-->mobile,laptop

In [88]:
d={}

d.fromkeys('Ab',12)

{'A': 12, 'b': 12}

In [89]:
d

{}

In [90]:
#set,frozenset

In [91]:
l=[i for i in range(1,11)]

In [92]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
l=[i for i in range(2,21,2)]

In [94]:
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [95]:
l=[i for i in range(1,21) if i%2==0]

In [96]:
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [99]:
l=[f'{i} is Even' if i%2==0 else f'{i} is Odd' for i in range(1,11)]

In [100]:
l

['1 is Odd',
 '2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '8 is Even',
 '9 is Odd',
 '10 is Even']

In [107]:
t=(i for i in range(1,11))

In [104]:
t

In [105]:
print(*t)

1 2 3 4 5 6 7 8 9 10

In [106]:
print(*t)

In [108]:
print(*t)

1 2 3 4 5 6 7 8 9 10

In [110]:
l

['1 is Odd',
 '2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '8 is Even',
 '9 is Odd',
 '10 is Even']

In [111]:
l=[i for i in range(101,110)]

In [112]:
for i in range(1,len(l),2):
    print(l[i])

102
104
106
108

In [113]:
l

[101, 102, 103, 104, 105, 106, 107, 108, 109]

In [116]:
l=[1,2,3,'hiii','hello',[1,2,3],(1,2,3)]

In [118]:
for i in l:
    if type(i)==str:
        print('str')
    elif type(i)==tuple:
        print('Tuple')
    elif type(i)==list:
        print('List')
    elif type(i)==int:
        print('Int')

Int
Int
Int
str
str
List
Tuple