In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (0.9.3)

In [3]:
import pymysql as sql

In [4]:
db=sql.connect(host='localhost',port=3306,user='root',password='')

In [5]:
cur=db.cursor()

            cur.execute(cmd) ---> to run mysql queries.
            
            
            data=cur.fetchone()---->Only a single can be read.
            
            data=cur.fetchall()----> All data can be retrive.

In [7]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....show databases;
(('information_schema',), ('mysql',), ('performance_schema',), ('phpmyadmin',), ('python8pm',), ('student',), ('test',), ('world',))

In [8]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....use student;
()

In [9]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....show tables
(('address',), ('student',))

In [11]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....use python8pm
()

In [12]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....show tables;
(('fees',), ('student',))

In [13]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....select * from student
((1001, 'samyak', 'jain', 'python', 'samyak49089@gmail.com'), (1002, 'sachin', 'yadav', 'DS', 'sachinyadav3496@gmail.com'), (1003, 'rajat', 'NA', 'aws', 'rajatgoyal@gmail.com'), (1004, 'Kushal', 'NA', 'python', 'kushal109@gmail.com'), (1005, 'Anshul', 'NA', 'aws', 'anshul.katheth111@gmail.com'), (1006, 'Simran', 'NA', 'ML', 'simrangrover5@gmail.com'), (1007, 'Nidhi', 'NA', 'python', 'nidhi@grras.com'))

In [14]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
#db.commit()----->for update the data

Enter mysql Command.....create database practice

1

In [15]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchall()
print(data)

Enter mysql Command.....show databases;
(('information_schema',), ('mysql',), ('performance_schema',), ('phpmyadmin',), ('practice',), ('python8pm',), ('student',), ('test',), ('world',))

In [17]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)

Enter mysql Command.....create table info(account int(10) not null primary key auto_increment,Name char(20) not null, Balance int(6) not null,password varchar(20) not null)

0

In [20]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)

Enter mysql Command.....insert into info values(1002,'Samyak',20000,'redhat@123')

1

In [21]:
cmd=input('Enter mysql Command.....')
cur.execute(cmd)
data=cur.fetchone()
print(data)

Enter mysql Command.....select * from info
(1001, 'sachin', 10000, 'redhat')

In [22]:
data=cur.fetchone()

In [23]:
print(data)

(1002, 'Samyak', 20000, 'redhat@123')

In [24]:
data=cur.fetchone()

In [25]:
print(data)

None

In [27]:
#Bank Application
#Mart Application